{
  "swagger": "2.0",
  "info": {
    "version": "2018-06-30-preview",
    "title": "GuestConfiguration"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}": {
      "put": {
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "operationId": "GuestConfigurationAssignments_CreateOrUpdate",
        "description": "Creates an association between a VM and guest configuration",
        "x-ms-examples": {
          "Create or update guest configuration assignment": {
            "$ref": "./examples/createOrUpdateGuestConfigurationAssignment.json"
          }
        },
        "parameters": [
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the guest configuration assignment."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            },
            "description": "Parameters supplied to the create or update guest configuration assignment."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created. The guest configuration assignment for the VM was created successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "200": {
            "description": "OK. The guest configuration assignment for the VM was updated successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "operationId": "GuestConfigurationAssignments_Get",
        "description": "Get information about a guest configuration assignment",
        "x-ms-examples": {
          "Get a guest configuration assignment": {
            "$ref": "./examples/getGuestConfigurationAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The guest configuration assignment name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The guest configuration assignment was returned successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "operationId": "GuestConfigurationAssignments_Delete",
        "description": "Delete a guest configuration assignment",
        "x-ms-examples": {
          "Delete an guest configuration assignment": {
            "$ref": "./examples/deleteGuestConfigurationAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the guest configuration assignment"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments": {
      "get": {
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "operationId": "GuestConfigurationAssignments_List",
        "description": "List all guest configuration assignments for a virtual machine.",
        "x-ms-examples": {
          "List all guest configuration assignments for a virtual machine": {
            "$ref": "./examples/listGuestConfigurationAssignments.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports": {
      "get": {
        "tags": [
          "GuestConfigurationAssignmentReports"
        ],
        "operationId": "GuestConfigurationAssignmentReports_List",
        "description": "List all reports for the guest configuration assignment, latest report first.",
        "x-ms-examples": {
          "List all guest configuration assignments for a virtual machine": {
            "$ref": "./examples/listAllGuestConfigurationAssignmentReports.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The guest configuration assignment name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. This response is due one of these two reasons: 1. Reports were returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no reports returned.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReportList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}": {
      "get": {
        "tags": [
          "GuestConfigurationAssignmentReports"
        ],
        "operationId": "GuestConfigurationAssignmentReports_Get",
        "description": "Get a report for the guest configuration assignment, by reportId.",
        "x-ms-examples": {
          "Get a guest configuration assignment report by Id for a virtual machine": {
            "$ref": "./examples/getGuestConfigurationAssignmentReportById.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The guest configuration assignment name."
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the guest configuration assignment report."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. This response is due one of these two reasons: 1. Report was returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no report was returned.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReport"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdateProfiles/{profileName}": {
      "get": {
        "tags": [
          "SoftwareUpdateProfiles"
        ],
        "operationId": "SoftwareUpdateProfiles_Get",
        "description": "Get the singleton software update profile for the computer.",
        "x-ms-examples": {
          "Get the singleton software update profile for a computer.": {
            "$ref": "./examples/getSoftwareUpdateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": ["default"],
            "x-ms-enum": {
              "name": "profileName",
              "modelAsString": true
            },
            "description": "The identifier of the software update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. This response is because the software update profile was found for the computer.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdates": {
      "get": {
        "tags": [
          "SoftwareUpdates"
        ],
        "operationId": "SoftwareUpdates_List",
        "description": "List all the software updates for a virtual machine.",
        "x-ms-examples": {
          "List all the software updates for a virtual machine": {
            "$ref": "./examples/listSoftwareUpdates.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdatesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdates/{softwareUpdateId}": {
      "get": {
        "tags": [
          "SoftwareUpdates"
        ],
        "operationId": "SoftwareUpdates_Get",
        "description": "Get a software update on the computer, by softwareUpdateId.",
        "x-ms-examples": {
          "Get a software update by Id for a virtual machine": {
            "$ref": "./examples/getSoftwareUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "softwareUpdateId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier of the software update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. This response is because the software update was found on the computer.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdateBaselineAssignments/{softwareUpdateBaselineAssignmentName}": {
      "put": {
        "tags": [
          "SoftwareUpdateBaselineAssignments"
        ],
        "operationId": "SoftwareUpdateBaselineAssignments_Create",
        "description": "Creates an association between a VM and a Software Update Baseline",
        "x-ms-examples": {
          "Create or update software update baseline assignment": {
            "$ref": "./examples/createSoftwareUpdateBaselineAssignment.json"
          }
        },
        "parameters": [
          {
            "name": "softwareUpdateBaselineAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the software update baseline assignment."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaselineAssignment"
            },
            "description": "Parameters supplied to the create a software update baseline assignment assignment."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created. The software update baseline assignment for the VM was created successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaselineAssignment"
            }
          },
          "200": {
            "description": "OK. The software update baseline assignment for the VM was updated successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaselineAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "SoftwareUpdateBaselineAssignments"
        ],
        "operationId": "SoftwareUpdateBaselineAssignments_Get",
        "description": "Get information about a software update baseline assignment",
        "x-ms-examples": {
          "Get a software update baseline assignment": {
            "$ref": "./examples/getSoftwareUpdateBaselineAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareUpdateBaselineAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The software update baseline assignment name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The software update baseline assignment was returned successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaselineAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "SoftwareUpdateBaselineAssignments"
        ],
        "operationId": "SoftwareUpdateBaselineAssignments_Delete",
        "description": "Delete a software update baseline assignment",
        "x-ms-examples": {
          "Delete an software update baseline assignment": {
            "$ref": "./examples/deleteSoftwareUpdateBaselineAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareUpdateBaselineAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the software update baseline assignment"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdateBaselineAssignments": {
    "get": {
      "tags": [
        "SoftwareUpdateBaselineAssignments"
      ],
      "operationId": "SoftwareUpdateBaselineAssignments_List",
      "description": "List all software update baseline assignments for a virtual machine.",
      "x-ms-examples": {
        "List all software update baseline assignments for a virtual machine": {
          "$ref": "./examples/listSoftwareUpdateBaselineAssignments.json"
        }
      },
      "parameters": [
        {
          "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
        },
        {
          "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK",
          "schema": {
            "$ref": "#/definitions/SoftwareUpdateBaselineAssignmentList"
          }
        },
        "default": {
          "description": "Error response describing why the operation failed.",
          "schema": {
            "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": null
      },
      "produces": [
        "application/json"
      ],
      "consumes": [
        "application/json"
      ]
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/softwareUpdateBaselines/{softwareUpdateBaselineName}": {
      "put": {
        "tags": [
          "SoftwareUpdateBaselines"
        ],
        "operationId": "SoftwareUpdateBaselines_Create",
        "description": "Creates an Software Update Baseline under a resource group",
        "x-ms-examples": {
          "Create or update software update baseline": {
            "$ref": "./examples/createOrUpdateSoftwareUpdateBaseline.json"
          }
        },
        "parameters": [
          {
            "name": "softwareUpdateBaselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the software update baseline"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaseline"
            },
            "description": "Parameters supplied to the create a software update baseline."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created. The software update baseline was created successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaseline"
            }
          },
          "200": {
            "description": "OK. The software update baseline was updated successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaseline"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "SoftwareUpdateBaselines"
        ],
        "operationId": "SoftwareUpdateBaselines_Get",
        "description": "Get information about a software update baseline",
        "x-ms-examples": {
          "Get a software update baseline": {
            "$ref": "./examples/getSoftwareUpdateBaseline.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareUpdateBaselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the software update baseline"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The software update baseline was returned successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaseline"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "SoftwareUpdateBaselines"
        ],
        "operationId": "SoftwareUpdateBaselines_Delete",
        "description": "Delete a software update baseline",
        "x-ms-examples": {
          "Delete an software update baseline assignment": {
            "$ref": "./examples/deleteSoftwareUpdateBaseline.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareUpdateBaselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the software update baseline"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/softwareUpdateBaselines": {
      "get": {
        "tags": [
          "SoftwareUpdateBaselines"
        ],
        "operationId": "SoftwareUpdateBaselines_List",
        "description": "List all software update baseline for a resource group.",
        "x-ms-examples": {
          "List all software update baseline assignments for a resource group": {
            "$ref": "./examples/listSoftwareUpdateBaselines.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateBaselineList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/softwareUpdateComplianceSummary": {
      "get": {
        "tags": [
          "SoftwareUpdateComplianceSummary"
        ],
        "operationId": "SoftwareUpdateComplianceSummary_Get",
        "description": "Get the software update compliance summary for a virtual machine.",
        "x-ms-examples": {
          "Get the software update compliance summary for a virtual machine.": {
            "$ref": "./examples/getSoftwareUpdateComplianceSummary.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/VmNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateComplianceSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/providers/Microsoft.GuestConfiguration/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available GuestConfiguration REST API operations.",
        "x-ms-examples": {
          "Lists all of the available GuestConfiguration REST API operations": {
            "$ref": "./examples/listOperations.json"
          }
        },
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "GuestConfigurationAssignmentList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestConfigurationAssignment"
          },
          "description": "Result of the list guest configuration assignment operation."
        }
      },
      "description": "The response of the list guest configuration assignment operation."
    },
    "GuestConfigurationAssignment": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/GuestConfigurationAssignmentProperties",
          "description": "Properties of the Guest configuration assignment."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Guest configuration assignment is an association between a VM and guest configuration."
    },
    "GuestConfigurationNavigation": {
      "description": "Guest configuration is an artifact that encapsulates DSC configuration and its dependencies. The artifact is a zip file containing DSC configuration (as MOF) and dependent resources and other dependencies like modules.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of the guest configuration. For example:DSC",
          "x-ms-enum": {
            "name": "kind",
            "modelAsString": true
          },
          "enum": [
            "DSC"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the guest configuration."
        },
        "version": {
          "type": "string",
          "description": "Version of the guest configuration."
        },
        "contentUri": {
          "readOnly": true,
          "type": "string",
          "description": "Uri of the storage where guest configuration package is uploaded."
        },
        "contentHash": {
          "readOnly": true,
          "type": "string",
          "description": "Combined hash of the guest configuration package and configuration parameters."
        },
        "configurationParameter": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationParameter"
          },
          "description": "The configuration parameters for the guest configuration."
        },
        "configurationSetting": {
          "$ref": "#/definitions/ConfigurationSetting",
          "description": "The configuration setting for the guest configuration."
        }
      }
    },
    "ConfigurationParameter": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the configuration parameter."
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Value of the configuration parameter."
        }
      },
      "description": "Represents a configuration parameter."
    },
    "ConfigurationSetting": {
      "properties": {
        "configurationMode": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies how the LCM(Local Configuration Manager) actually applies the configuration to the target nodes. Possible values are ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.",
          "x-ms-enum": {
            "name": "configurationMode",
            "modelAsString": true
          },
          "enum": [
            "ApplyOnly",
            "ApplyAndMonitor",
            "ApplyAndAutoCorrect"
          ]
        },
        "allowModuleOverwrite": {
          "type": "string",
          "description": "If true - new configurations downloaded from the pull service are allowed to overwrite the old ones on the target node. Otherwise, false",
          "x-ms-enum": {
            "name": "allowModuleOverwrite",
            "modelAsString": true
          },
          "enum": [
            "True",
            "False"
          ]
        },
        "actionAfterReboot": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies what happens after a reboot during the application of a configuration. The possible values are ContinueConfiguration and StopConfiguration",
          "x-ms-enum": {
            "name": "actionAfterReboot",
            "modelAsString": true
          },
          "enum": [
            "ContinueConfiguration",
            "StopConfiguration"
          ]
        },
        "refreshFrequencyMins": {
          "type": "number",
          "readOnly": true,
          "default": 30,
          "description": "The time interval, in minutes, at which the LCM checks a pull service to get updated configurations. This value is ignored if the LCM is not configured in pull mode. The default value is 30."
        },
        "rebootIfNeeded": {
          "type": "string",
          "readOnly": true,
          "default": "False",
          "description": "Set this to true to automatically reboot the node after a configuration that requires reboot is applied. Otherwise, you will have to manually reboot the node for any configuration that requires it. The default value is false. To use this setting when a reboot condition is enacted by something other than DSC (such as Windows Installer), combine this setting with the xPendingReboot module.",
          "x-ms-enum": {
            "name": "rebootIfNeeded",
            "modelAsString": true
          },
          "enum": [
            "True",
            "False"
          ]
        },
        "configurationModeFrequencyMins": {
          "type": "number",
          "readOnly": true,
          "default": 15,
          "description": "How often, in minutes, the current configuration is checked and applied. This property is ignored if the ConfigurationMode property is set to ApplyOnly. The default value is 15."
        }
      },
      "description": "Configuration setting of LCM (Local Configuration Manager)."
    },
    "GuestConfigurationAssignmentProperties": {
      "properties": {
        "guestConfiguration": {
          "$ref": "#/definitions/GuestConfigurationNavigation",
          "description": "The guest configuration to assign."
        },
        "complianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating compliance status of the virtual machine for the assigned guest configuration.",
          "x-ms-enum": {
            "name": "complianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "lastComplianceStatusChecked": {
          "type": "string",
          "readOnly": true,
          "format":"date-time",
          "description": "Date and time when last compliance status was checked.",
          "x-nullable": true
        },
        "latestReportId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of the latest report for the guest configuration assignment. ",
          "x-nullable": true
        },
        "context": {
          "type": "string",
          "description": "The source which initiated the guest configuration assignment. Ex: Azure Policy"
        },
        "assignmentHash": {
          "type": "string",
          "readOnly": true,
          "description": "Combined hash of the configuration package and parameters.",
          "x-nullable": true
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "x-nullable": true,
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          },
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Created"
          ]
        }
      },
      "description": "Guest configuration assignment properties."
    },
    "GuestConfigurationAssignmentReportList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestConfigurationAssignmentReport"
          },
          "description": "List of reports for the guest configuration. Report contains information such as compliance status, reason and more."
        }
      },
      "description": "List of guest configuration assignment reports."
    },
    "GuestConfigurationAssignmentReport": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "ARM resource id of the report for the guest configuration assignment."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "GUID that identifies the guest configuration assignment report under a subscription, resource group."
        },
        "properties": {
          "$ref": "#/definitions/GuestConfigurationAssignmentReportProperties",
          "description": "Properties of the guest configuration report."
        }
      },
      "description": "Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more."
    },
    "GuestConfigurationAssignmentReportProperties": {
      "properties": {
        "complianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating compliance status of the virtual machine for the assigned guest configuration.",
          "x-ms-enum": {
            "name": "complianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "reportId": {
          "type": "string",
          "readOnly": true,
          "description": "GUID that identifies the guest configuration assignment report under a subscription, resource group."
        },
        "assignment": {
          "$ref": "#/definitions/AssignmentInfo",
          "description": "Configuration details of the guest configuration assignment."
        },
        "vm": {
          "$ref": "#/definitions/VMInfo",
          "description": "Information about the VM."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Start date and time of the guest configuration assignment compliance status check."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "End date and time of the guest configuration assignment compliance status check."
        },
        "details": {
          "$ref": "#/definitions/AssignmentReportDetails",
          "description": "Details of the assignment report."
        }
      },
      "description": "Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more."
    },
    "AssignmentInfo": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the guest configuration assignment."
        },
        "configuration": {
          "$ref": "#/definitions/ConfigurationInfo",
          "description": "Information about the configuration."
        }
      },
      "description": "Information about the guest configuration assignment."
    },
    "VMInfo": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id of the VM."
        },
        "uuid": {
          "type": "string",
          "readOnly": true,
          "description": "UUID(Universally Unique Identifier) of the VM."
        }
      },
      "description": "Information about the VM."
    },
    "ConfigurationInfo": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the configuration."
        }
      },
      "description": "Information about the configuration."
    },
    "AssignmentReportDetails": {
      "properties": {
        "complianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating compliance status of the virtual machine for the assigned guest configuration.",
          "x-ms-enum": {
            "name": "complianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Start date and time of the guest configuration assignment compliance status check."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "End date and time of the guest configuration assignment compliance status check."
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "GUID of the report."
        },
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Type of report, Consistency or Initial",
          "x-ms-enum": {
            "name": "type",
            "modelAsString": true
          },
          "enum": [
            "Consistency",
            "Initial"
          ]
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssignmentReportResource"
          },
          "description": "The list of resources for which guest configuration assignment compliance is checked."
        }
      },
      "description": "Details of the guest configuration assignment report."
    },
    "AssignmentReportResource": {
      "properties": {
        "complianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating compliance status of the virtual machine for the assigned guest configuration.",
          "x-ms-enum": {
            "name": "complianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "reasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssignmentReportResourceComplianceReason"
          },
          "description": "Compliance reason and reason code for a resource."
        },
        "properties": {
          "type": "object",
          "readOnly": true,
          "description": "Properties of a guest configuration assignment resource."
        }
      },
      "description": "The guest configuration assignment resource."
    },
    "AssignmentReportResourceComplianceReason": {
      "properties": {
        "phrase": {
          "type": "string",
          "readOnly": true,
          "description": "Reason for the compliance of the guest configuration assignment resource."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Code for the compliance of the guest configuration assignment resource."
        }
      },
      "description": "Reason and code for the compliance of the guest configuration assignment resource."
    },
    "SoftwareUpdateProfile": {
      "description": "The profile of the computer in the context of software updates.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SoftwareUpdateProfileProperties",
          "description": "Properties of the software update profile subject."
        }
      },
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ]
    },
    "SoftwareUpdateProfileProperties":{
      "description": "Properties of the software update profile subject.",
      "properties": {
        "computerName": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the computer"
        },
        "computerIP": {
          "type": "string",
          "readOnly": true,
          "description": "Computer IP"
        },
        "computerEnvironment": {
          "type": "string",
          "readOnly": true,
          "description": "Computer Environment"
        },
        "osType": {
          "type": "string",
          "readOnly": true,
          "description": "OS Type"
        },
        "osName": {
          "type": "string",
          "readOnly": true,
          "description": "OS Name"
        },
        "osVersion": {
          "type": "string",
          "readOnly": true,
          "description": "OS Version"
        },
        "osMajorVersion": {
          "type": "string",
          "readOnly": true,
          "description": "OS Major Version"
        },
        "osMinorVersion": {
          "type": "string",
          "readOnly": true,
          "description": "OS Minor Version"
        },
        "osFullName": {
          "type": "string",
          "readOnly": true,
          "description": "OS Full Name"
        },
        "osArch": {
          "type": "string",
          "readOnly": true,
          "description": "OS Architecture"
        },
        "computerStartTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Start time of the computer"
        },
        "restartPending": {
          "type": "string",
          "readOnly": true,
          "description": "Restart pending status of the computer"
        },
        "guestConfigAgentVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Version of the guest configuration agent"
        },
        "guestConfigAgentStartTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Start time of the guest configuration agent"
        },
        "netRuntimeVersion": {
          "type": "string",
          "readOnly": true,
          "description": ".Net runtime version"
        },
        "windowsUpdateSetting": {
          "type": "string",
          "readOnly": true,
          "description": "Windows Update setting"
        },
        "windowsUpdateAgentVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Windows Update agent version"
        },
        "windowsUpdateIncludeRecommendedUpdates": {
          "type": "string",
          "readOnly": true,
          "description": "Windows Update include recommended updates"
        },
        "wsusServer": {
          "type": "string",
          "readOnly": true,
          "description": "Windows Server Update Services server the computer is connected to"
        },
        "linuxPackageManager": {
          "type": "string",
          "readOnly": true,
          "description": "Package manager discovered on the computer if it is running Linux"
        },
        "criticalCount": {
          "type": "string",
          "readOnly": true,
          "description": "Count of updates available classified as critical"
        },
        "securityCount": {
          "type": "string",
          "readOnly": true,
          "description": "Count of updates available classified as security"
        },
        "otherCount": {
          "type": "string",
          "readOnly": true,
          "description": "Count of updates available that are classified as neither critical or security"
        },
        "assessmentRuntime": {
          "type": "string",
          "readOnly": true,
          "description": "Time taken for the latest assessment to complete on the computer"
        },
        "lastUpdateApplied": {
          "type": "string",
          "readOnly": true,
          "description": "Last update applied"
        },
        "updateAssessmentErrors": {
          "type": "string",
          "readOnly": true,
          "description": "Errors that occurred during assessment, if any"
        },
        "updateAssessmentErrorStackTrace": {
          "type": "string",
          "readOnly": true,
          "description": "Stack Trace for any terminal error during assessment, if any"
        },
        "oldestMissingSecurityUpdateInDays": {
          "type": "string",
          "readOnly": true,
          "description": "Number of days since the oldest missing security update was released"
        },
        "oldestMissingSecurityUpdateBucket": {
          "type": "string",
          "readOnly": true,
          "description": "30 day range describing the date of the oldest missing security update"
        },
        "lastRefreshDate": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Last refresh date"
        }
      }
    },
    "SoftwareUpdatesList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdate"
          },
          "description": "The collection of software updates found on the computer."
        }
      },
      "description": "The collection of software updates found on the computer."
    },
    "SoftwareUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SoftwareUpdateProperties",
          "description": "Properties of the software update."
        }
      },
      "allOf": [
      {
        "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
      }
    ],
    "description": "Describes a specific software update on the given virtual machine."
    },
    "SoftwareUpdateProperties": {
      "description": "Properties of the software update object.",
      "properties": {
        "updateState": {
          "type": "string",
          "enum": ["Needed", "Installed"],
          "x-ms-enum":{
            "name": "updateState",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "State of the update"
        },
        "availableOnComputerSince": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Point in time when this update was first seen on this computer"
        },
        "approved": {
          "type": "string",
          "readOnly": true,
          "description": "Approval status"
        },
        "packageRepository": {
          "type": "string",
          "readOnly": true,
          "description": "Package repository"
        },
        "supercededUpdateIds": {
          "type": "string",
          "readOnly": true,
          "description": "Superseded Update Ids"
        },
        "isSupercededUpdate": {
          "type": "string",
          "readOnly": true,"x-ms-enum": {
            "name": "isSupercededUpdate",
            "modelAsString": true
          },
          "enum": [
            "True",
            "False"
          ],
          "description": "Is a superceded update"
        },
        "deploymentAction": {
          "type": "string",
          "readOnly": true,
          "description": "Deployment action"
        },
        "kbid": {
          "type": "string",
          "readOnly": true,
          "description": "Knowledge Base ID of a Windows Update"
        },
        "kbRevisionNumber": {
          "type": "string",
          "readOnly": true,
          "description": "KB revision number"
        },
        "publishedDate": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Reported published date for this update"
        },
        "productName": {
          "type": "string",
          "readOnly": true,
          "description": "Product name"
        },
        "productVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Product version"
        },
        "productArch": {
          "type": "string",
          "readOnly": true,
          "description": "Product architecture"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Update title"
        },
        "classification": {
          "type": "string",
          "readOnly": true,
          "description": "Normalized update classification"
        },
        "packageClassification": {
          "type": "string",
          "readOnly": true,
          "description": "Linux package classification"
        },
        "packageSeverity": {
          "type": "string",
          "readOnly": true,
          "description": "Linux package severity"
        },
        "msrcSeverity": {
          "type": "string",
          "readOnly": true,
          "description": "Microsoft Security Response Center severity for Windows updates"
        },
        "externalURL": {
          "type": "string",
          "readOnly": true,
          "description": "External documentation URL"
        },
        "bulletinId": {
          "type": "string",
          "readOnly": true,
          "description": "Linux Security Bulletin Id"
        },
        "msrcBulletinId": {
          "type": "string",
          "readOnly": true,
          "description": "Microsoft Security Response Center bulletin id"
        },
        "cveNumbers": {
          "type": "string",
          "readOnly": true,
          "description": "Common Vulnerabilities and Exposures numbers"
        },
        "rebootBehavior": {
          "type": "string",
          "readOnly": true,
          "enum": ["NeverReboots", "AlwaysRequiresReboot", "CanRequestReboot"],
          "x-ms-enum":{
            "name": "rebootBehavior",
            "modelAsString": true
          },
          "description": "Reboot behavior"
        },
        "optional": {
          "type": "string",
          "readOnly": true,
          "description": "Update optional"
        },
        "autoSelectOnWebsites": {
          "type": "string",
          "readOnly": true,
          "description": "Auto-select on websites"
        },
        "browseOnly": {
          "type": "string",
          "readOnly": true,
          "description": "Browse only"
        },
        "lastRefreshDate": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Last refresh date"
        }
      }
    },
    "SoftwareUpdateBaseline": {
      "description": "The software update baseline to assign.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/SoftwareUpdateBaselineProperties",
          "description": "Properties of the software update baseline."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ]
    },
    "SoftwareUpdateBaselineList": {
      "description": "List of software update baselines.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaseline"
          },
          "description": "List of software update baselines."
        }
      }
    },
    "SoftwareUpdateBaselineProperties": {
      "description": "Properties of the software update baseline.",
      "properties": {
        "windowsBaselineProperties": {
          "description": "Software update baseline properties for Windows VM.",
          "$ref": "#/definitions/WindowsBaselineProperties"
        },
        "linuxBaselineProperties": {
          "description": "Software update baseline properties for Linux VM.",
          "$ref": "#/definitions/LinuxBaselineProperties"
        }
      }
    },
    "WindowsBaselineProperties": {
      "description": "Properties of the Windows software update baseline",
      "properties": {
        "classifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WindowsSoftwareUpdateBaselineClassification"
          },
          "description": "Software update baseline classification for Windows."
        },
        "include": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaselineInclude"
          },
          "description": "The include clause for Software update baseline."
        },
        "exclude": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaselineExclude"
          },
          "description": "The exclude clause for Software update baseline."
        }
      }
    },
    "LinuxBaselineProperties": {
      "description": "Properties of the Linux software update baseline",
      "properties": {
        "classifications": {  
            "type": "array",
            "items": {
              "$ref": "#/definitions/LinuxSoftwareUpdateBaselineClassification"
            },
            "description": "Software update baseline classification for Linux."      
        },
        "include": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaselineInclude"
          },
          "description": "The include clause for Software update baseline."
        },
        "exclude": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaselineExclude"
          },
          "description": "The exclude clause for Software update baseline."
        }
      }
    },
    "WindowsSoftwareUpdateBaselineClassification": {
      "description": "Software update baseline classification for Windows.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The category of the classification.",
          "x-ms-enum": {
            "name": "type",
            "modelAsString": true
          },
          "enum": [
            "Critical",
            "Definition",
            "FeaturePack",
            "Security",
            "ServicePack",
            "Tools",
            "Unclassified",
            "UpdateRollup",
            "Updates"
          ]
        },
        "nonCompliantAfterDays": {
          "type": "number",
          "description": "Allowed number of days that the software update may be non-compliant."
        }
      }
    },
    "LinuxSoftwareUpdateBaselineClassification": {
      "description": "Software update baseline classification for Linux.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The category of the classification.",
          "x-ms-enum": {
            "name": "type",
            "modelAsString": true
          },
          "enum": [
            "Critical",
            "Other",
            "Security",
            "Unclassified"
          ]
        },
        "nonCompliantAfterDays": {
          "type": "number",
          "description": "Allowed number of days that the software update may be non-compliant."
        }
      }
    },
    "SoftwareUpdateBaselineInclude": {
      "description": "The include clause for Software update baseline.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the software update that should be compliant."
        },
        "nonCompliantAfterDays": {
          "type": "number",
          "description": "Allowed number of days that the software update may be non-compliant."
        }
      }
    },
    "SoftwareUpdateBaselineExclude": {
      "description": "The exclude clause for Software update baseline.",
      "properties":
      {
        "name": {
          "type": "string",
          "description": "Name of the software update to exclude from compliance."
        }
      }
    },
    "SoftwareUpdateBaselineAssignment": {
      "description": "Software Update Baseline Assignment is an association between a VM and a software update baseline.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/SoftwareUpdateBaselineAssignmentProperties",
          "description": "Properties of the software update baseline."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ]
    },
    "SoftwareUpdateBaselineAssignmentList": {
      "description": "List of software update baseline assignments for a given VM.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateBaselineAssignment"
          },
          "description": "List of software update baseline assignment."
        }
      }
    },
    "SoftwareUpdateBaselineAssignmentProperties": {
      "description": "Properties of the software update baseline assignment.",
      "properties": {
        "baseline": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "Resource Id of the software update baseline."
            }
          },
          "description": "Information of the software update baseline."
        },
        "complianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating compliance status of the virtual machine for the assigned software update baseline.",
          "x-ms-enum": {
            "name": "complianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "lastRefreshDate": {
          "type": "string",
          "readOnly": true,
          "description": "Last refresh date for the software update baseline assignment."
        },
        "criticalUpdateCount": {
          "type": "number",
          "readOnly": true,
          "description": "The number of updates available classified as critical."
        },
        "securityUpdateCount": {
          "type": "number",
          "readOnly": true,
          "description": "The number of updates available classified as security."
        },
        "otherUpdateCount": {
          "type": "number",
          "readOnly": true,
          "description": "The number of updates available that are classified as neither critical or security."
        },
        "violatingUpdates": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SoftwareUpdate"
          },
          "description": "The list of software updates that violate the baseline."
        }
      }
    },
    "SoftwareUpdateComplianceSummary": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SoftwareUpdateComplianceSummaryProperties",
          "description": "Properties of the software update compliance summary."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Software update compliance summry the software update baseline assignment. Report contains information such as compliance status and counts of updates."
    },
    "SoftwareUpdateComplianceSummaryProperties": {
      "description": "Properties for software update compliance summary.",
      "properties": {
        "aggregateComplianceStatus": {
          "type": "string",
          "readOnly": true,
          "description": "A value indicating aggregate compliance status of the virtual machine for the assigned software update baseline.",
          "x-ms-enum": {
            "name": "AggregateComplianceStatus",
            "modelAsString": true
          },
          "enum": [
            "Compliant",
            "NonCompliant",
            "Pending"
          ]
        },
        "pendingCount": {
          "description": "The number of software update baseline evaluation that is in pending state.",
          "readOnly": true,
          "type": "number"
        },
        "compliantCount": {
          "description": "The number of software update baseline evaluation that is compliant.",
          "readOnly": true,
          "type": "number"
        },
        "nonCompliantCount": {
          "description": "The number of software update baseline evaluation that is non compliant.",
          "readOnly": true,
          "type": "number"
        },
        "criticalUpdateCount": {
          "description": "The number of updates available classified as critical.",
          "readOnly": true,
          "type": "number"
        },
        "securityUpdateCount": {
          "description": "The number of updates available classified as security.",
          "readOnly": true,
          "type": "number"
        },
        "otherUpdateCount": {
          "description": "The number of updates available that are classified as neither critical or security.",
          "readOnly": true,
          "type": "number"
        }
      }
    }
  },
"parameters": {}
}
